apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: esphome

resources:
  - namespace.yaml
  - vault.yaml
  - esphome.yaml
  - tailscale.yaml

configMapGenerator:
- name: esphome
  files:
  - devices/plaato-airlock.yaml
  - devices/plaato-keg.yaml
  - devices/plug1.yaml
  - devices/plug2.yaml
  - devices/plug3.yaml
  - devices/tubeszb-upstairs.yaml
  - devices/tubeszb-workspace.yaml
  - devices/ble_proxy_meater_1.yaml
  - devices/ble_proxy_meater_2.yaml
