export KUBECONFIG=$(pwd)/talos/kubeconfig
export TALOSCONFIG=$(pwd)/talos/talosconfig
export TERM=xterm-256color # https://github.com/siderolabs/talos/issues/8762
export VAULT_ADDR=http://192.168.3.2:8200/
export NOMAD_ADDR=http://192.168.3.2:4646/
