talos/*.yaml
talos/talosconfig
talos/kubeconfig
nomad/vault.hcl
**/*.tfstate
**/*.backup
.terraform
*.sw[op]

# Because we want no oopsies
k8s/prod/vault-secrets-operator/ca.crt
k8s/prod/vault-secrets-operator/sa.token
