---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: zigbee2mqtt-upstairs
    app.kubernetes.io/version: 1.19.1
    helm.sh/chart: zigbee2mqtt-9.4.2
  name: zigbee2mqtt-upstairs-settings
  namespace: zigbee2mqtt
data:
  configuration.yaml: |
    ota:
      ikea_ota_use_test_url: false
      disable_automatic_update_check: true
    advanced:
      homeassistant_discovery_topic: homeassistant
      homeassistant_status_topic: homeassistant/status
      last_seen: ISO_8601
      log_level: debug
      log_output:
        - console
      network_key: '!secrets network_key'
      channel: 15
      pan_id: 10043
      ext_pan_id: [135,45,27,127,57,99,139,122]
    experimental:
      new_api: true
    frontend:
      port: 8081
    homeassistant:
      enabled: true
    serial:
      # Adapter type, allowed values: `zstack`, `ember`, `deconz`, `zigate` or `zboss`
      adapter: zstack
      port: 'tcp://tubeszb-upstairs.iot.marcyoung.us:6638'
    mqtt:
      base_topic: zigbee2mqtt-upstairs
      include_device_information: true
      server: 'mqtt://mosquitto.mosquitto.svc.cluster.local'
    permit_join: false
