---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: zigbee2mqtt-upstairs
    app.kubernetes.io/version: 1.19.1
    helm.sh/chart: zigbee2mqtt-9.4.2
  name: zigbee2mqtt-upstairs-settings
  namespace: zigbee2mqtt
data:
  configuration.yaml: |
    ota:
      disable_automatic_update_check: true
    advanced:
      last_seen: ISO_8601
      log_level: debug
      log_output:
        - console
      network_key: '!secrets network_key'
      channel: 15
      pan_id: 39706
      ext_pan_id:
        - 214
        - 223
        - 53
        - 59
        - 24
        - 172
        - 158
        - 4
    frontend:
      enabled: true
      port: 8081
    homeassistant:
      enabled: true
      discovery_topic: homeassistant
      status_topic: homeassistant/status
    serial:
      adapter: zstack
      port: tcp://tubeszb-upstairs.iot.marcyoung.us:6638
    mqtt:
      base_topic: zigbee2mqtt-upstairs
      include_device_information: true
      server: mqtt://mosquitto.mosquitto.svc.cluster.local
    version: 4
  '0x04e3e5fffef24450':
    friendly_name: 'front-porch-light' # sonoff 2 way switch (w. neutral - ZBMINIR2) - 2nd switch in gangbox
  '0x00be44fffe634f3f':
    friendly_name: 'front-flood-lights' # sonoff 2 way switch (w. neutral - ZBMINIR2) - 3rd switch in gangbox
