apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: longhorn-system

resources:
  - namespace.yaml
  - tailscale.yaml
  - vault.yaml
  - backuptargets.yaml
  - recurringjobs.yaml
  - zigbee2mqtt.yaml
  - zigbee2mqtt-upstairs.yaml
  - zwave-js-ui.yaml
  - hass.yaml

helmCharts:
- name: longhorn
  releaseName: longhorn
  version: 1.10.1
  includeCRDs: true
  repo: https://charts.longhorn.io
  valuesInline:
    longhornUI:
      replicas: 1
    csi:
      resizerReplicaCount: 1
      snapshotterReplicaCount: 1
      provisionerReplicaCount: 1
      attacherReplicaCount: 1
    persistence:
      defaultDataLocality: "best-effort"
