apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hass-data
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-static
  volumeMode: Filesystem
  volumeName: hass-data
