---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: zigbee2mqtt
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: zigbee2mqtt
    app.kubernetes.io/version: 1.19.1
    helm.sh/chart: zigbee2mqtt-9.4.2
  name: zigbee2mqtt-settings
  namespace: zigbee2mqtt
data:
  configuration.yaml: |
    ota:
      ikea_ota_use_test_url: false
      disable_automatic_update_check: true
    advanced:
      homeassistant_discovery_topic: homeassistant
      homeassistant_status_topic: homeassistant/status
      last_seen: ISO_8601
      log_level: debug
      log_output:
        - console
      network_key: '!secrets network_key'
      channel: 25
    experimental:
      new_api: true
    frontend:
      port: 8080
    homeassistant:
      enabled: true
    serial:
      adapter: deconz
      port: tcp://ser2net.ser2net.svc.cluster.local:3001
    mqtt:
      base_topic: zigbee2mqtt
      include_device_information: true
      server: mqtt://mosquitto.mosquitto.svc.cluster.local
    permit_join: false
