---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: zigbee2mqtt
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: zigbee2mqtt
    app.kubernetes.io/version: 1.19.1
    helm.sh/chart: zigbee2mqtt-9.4.2
  name: zigbee2mqtt-settings
  namespace: zigbee2mqtt
data:
  configuration.yaml: |
    ota:
      disable_automatic_update_check: true
    advanced:
      last_seen: ISO_8601
      log_level: debug
      log_output:
        - console
      network_key: '!secrets network_key'
      channel: 15
      pan_id: 23716
      ext_pan_id:
        - 245
        - 139
        - 216
        - 154
        - 179
        - 199
        - 17
        - 40
    frontend:
      enabled: true
      port: 8080
    homeassistant:
      enabled: true
      discovery_topic: homeassistant
      status_topic: homeassistant/status
    serial:
      adapter: zstack
      port: tcp://tubeszb-workspace.iot.marcyoung.us:6638
    mqtt:
      base_topic: zigbee2mqtt-workspace
      include_device_information: true
      server: mqtt://mosquitto.mosquitto.svc.cluster.local
    version: 4
    devices:
      "0xffffb40e0605214d":
        friendly_name: wall-1
        description: "THIRDREALITY 3RSP02028BZ location:tbd"
      "0xffffb40e0605366d":
        friendly_name: wall-2
        description: "THIRDREALITY 3RSP02028BZ location:tbd"
      "0xffffb40e06054321":
        friendly_name: wall-3
        description: "THIRDREALITY 3RSP02028BZ location:tbd"
      "0xffffb40e060579ee":
        friendly_name: wall-4
        description: "THIRDREALITY 3RSP02028BZ location:tbd"
      "0x00158d008bbf3f0e":
        friendly_name: water-1
        description: "aqara LUMI LUMI (Water leak sensor) location:hvac pan"
      "0x00158d008bc192ea":
        friendly_name: water-2
        description: "aqara LUMI LUMI (Water leak sensor) location:under bar sink"
      "0x00158d008bc19938":
        friendly_name: water-3
        description: "aqara LUMI LUMI (Water leak sensor) location:main exit"
