apiVersion: v1
kind: PersistentVolume
metadata:
  name: zigbee2mqtt-workspace-data
  namespace: zigbee2mqtt
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 1Gi
  csi:
    driver: driver.longhorn.io
    fsType: ext4
    volumeAttributes:
      diskSelector: ""
      nodeSelector: ""
      numberOfReplicas: "2"
      staleReplicaTimeout: "20"
    volumeHandle: zigbee2mqtt-workspace-data
  persistentVolumeReclaimPolicy: Retain
  storageClassName: longhorn-static
  volumeMode: Filesystem
