apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zigbee2mqtt-workspace-data
  namespace: zigbee2mqtt
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-static
  volumeMode: Filesystem
  volumeName: zigbee2mqtt-workspace-data
