apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zwave-js-ui-data
  namespace: zwave-js-ui
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-static
  volumeMode: Filesystem
  volumeName: zwave-js-ui-data
