apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
metadata:
  name: argocd

resources:
 - namespace.yaml
 - vault.yaml
 - argocd.yaml
 - appset.yaml
 - app-actions-runner.yaml
 - sa-wf.yaml
 - tailscale.yaml
 - tailscale-wf.yaml
patches:
 - path: configmap.yaml

helmCharts:
- name: argo-cd
  releaseName: argocd
  namespace: argocd
  version: 9.1.6
  includeCRDs: true
  repo: https://argoproj.github.io/argo-helm
  valuesInline:
    configs:
      params:
        controller.sync.timeout.seconds: "600"
      secret:
        createSecret: false
    global:
      deploymentAnnotations:
        configmap.reloader.stakater.com/reload: "argocd-cm,argocd-rbac-cm"
    dex:
      enabled: false
    repoServer:
      metrics:
        enabled: true
      resources:
        requests:
          cpu: 75m
          memory: 256M
    applicationSet:
      webhook:
        ingress:
          enabled: false
      resources:
        requests:
          cpu: 23m
          memory: 105M
      metrics:
        enabled: true
    notifications:
      metrics:
        enabled: true
      resources:
        requests:
          cpu: 15m
          memory: 105M
    controller:
      metrics:
        enabled: true
      resources:
        requests:
          cpu: 75m
          memory: 298M
    server:
      metrics:
        enabled: true
      extraArgs:
        - --insecure
      resources:
        requests:
          cpu: 63m
          memory: 110M
    redis:
      resources:
        requests:
          cpu: 15m
          memory: 105M
- name: argo-workflows
  releaseName: argocd-workflows
  namespace: argocd
  version: 0.46.1
  includeCRDs: true
  repo: https://argoproj.github.io/argo-helm
  valuesInline:
    controller:
      metrics:
        enabled: true
      logging:
        level: debug
      workflowNamespaces:
        - argocd
      resources:
        requests:
          cpu: 15m
          memory: 110M
    server:
      metrics:
        enabled: true
      logging:
        level: debug
      extraArgs:
        - --insecure-skip-verify=true
      resources:
        requests:
          cpu: 15m
          memory: 127M
    workflow:
      logging:
        level: debug
      serviceAccount:
        create: true
        labels: {}
        name: "admin-user"
