apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: datadog

resources:
  - namespace.yaml
  - vault.yaml

helmCharts:
- name: datadog
  releaseName: datadog
  namespace: datadog
  version: 3.155.1
  includeCRDs: true
  repo: https://helm.datadoghq.com
  valuesInline:
    providers:
      talos:
        enabled: true
    datadog:
      clusterName: prod
      confd:
        argocd.yaml: |-
          instances:
            -
              app_controller_endpoint: http://argocd-application-controller-metrics.argocd.svc.cluster.local:8082/metrics
              api_server_endpoint: http://argocd-server-metrics.argocd.svc.cluster.local:8083/metrics
              repo_server_endpoint: http://argocd-repo-server-metrics.argocd.svc.cluster.local:8084/metrics
      orchestratorExplorer:
        kubelet_configuration_check:
          enabled: false
      apiKeyExistingSecret:  datadog
      logs:
        enabled: true
        containerCollectAll: true
      networkMonitoring:
        enabled: true
      serviceMonitoring:
        enabled: true
      systemProbe:
        mountPackageManagementDirs:
        - name: "public-key-dir"
          hostPath: /etc/pki
          mountPath: /host/etc/pki
      envFrom:
        - secretRef:
            name: datadog
    agents:
      volumes:
        - hostPath:
            path: /sys/kernel/tracing
          name: tracefs
      volumeMounts:
        - mountPath: /sys/kernel/tracing
          mountPropagation: None
          name: tracefs
          readOnly: false # Need RW for kprobe_events
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          effect: "NoSchedule"
      containers:
        agent:
          resources:
            requests:
              cpu: 1469m
              memory: 298M
            limits:
              cpu: 1469m
              memory: 298M
        processAgent:
          resources:
            requests:
              cpu: 78m
              memory: 64M
            limits:
              cpu: 78m
              memory: 64M
        systemProbe:
          resources:
            requests:
              cpu: 78m
              memory: 384M
            limits:
              cpu: 78m
              memory: 384M
        traceAgent:
          resources:
            requests:
              cpu: 78m
              memory: 37M
            limits:
              cpu: 78m
              memory: 37M
    #clusterAgent:
    #  containers:
    #    initContainers:
    #      resources:
    #        requests:
    #          cpu: 93m
    #          memory: 298M
    #        limits:
    #          cpu: 105m
    #          memory: 336M
    #  resources:
    #    requests:
    #      cpu: 70m
    #      memory: 150M
    #    limits:
    #      cpu: 70m
    #      memory: 150M
