- alias: Liam - turn things on
  id: liams_room_on
  description: "Turn things on in liams room"
  mode: single
  trigger: []
  condition: []
  action:
    - type: turn_on
      device_id: d3ddbb16235c592ebcaab802e074b854
      entity_id: switch.liam_plug_pow_relay
      domain: switch
- alias: Liam - turn things off
  id: liams_room_off
  description: "Turn things off in liams room"
  mode: single
  trigger: []
  condition: []
  action:
    - type: turn_off
      device_id: d3ddbb16235c592ebcaab802e074b854
      entity_id: switch.liam_plug_pow_relay
      domain: switch
- alias: Decorations - keep on
  id: decorations_on
  description: "keep decorations on"
  mode: single
  trigger:
    - platform: time
      at: "6:00:00"
    - platform: time
      at: "12:00:00"
    - platform: time
      at: "18:00:00"
  condition: []
  action:
    - type: turn_on
      device_id: 885230fdc728915ff5a2b5a61930b845
      entity_id: switch.plug1_pow_relay
      domain: switch
- alias: Nighttime - Turn on things
  id: nighttime_on
  description: "Turn things on at night"
  mode: single
  trigger:
    - platform: time
      at: "18:30:00"
  condition: []
  action:
    - type: turn_on
      device_id: 022c8a09ea2d67c7886de4fe883cef62
      entity_id: switch.front_porch_relay
      domain: switch
    - type: turn_on
      device_id: d3ddbb16235c592ebcaab802e074b854
      entity_id: switch.liam_plug_pow_relay
      domain: switch
- alias: Nighttime - Turn off things
  id: nighttime_off
  description: Turn things off at night
  trigger:
    - platform: time
      at: "01:00:00"
  condition: []
  action:
    - type: turn_off
      device_id: d3ddbb16235c592ebcaab802e074b854
      entity_id: switch.liam_plug_pow_relay
      domain: switch
    - type: turn_off
      device_id: 022c8a09ea2d67c7886de4fe883cef62
      entity_id: switch.front_porch_relay
      domain: switch
  mode: single
- alias: Utility - backup
  id: utility_backup
  trigger:
  - platform: time
    at: 03:00:00
  condition:
    - condition: template
      value_template: "{{ now().day == 1 }}"
  action:
  - service: backup.create
    data:
      homeassistant: true
  mode: queued
- alias: Upload and remove backup
  id: upload_and_remove_backup
  description: 'Remove local back up and upload to s3'
  trigger:
  - platform: event
    event_type: folder_watcher
    event_data:
      event_type: closed
  action:
  - service: minio.put
    data:
      bucket: backups
      file_path: '{{ trigger.event.data.path }}'
      key: hass/{{ now().strftime('%Y%m%dT%H%M%S.tar') }}
  - service: shell_command.remove_backup
    data:
      path: "{{ trigger.event.data.path }}"
  mode: queued
- alias: Low Battery Webhook
  id: low_battery_webhook_binary_sensor
  description: "Fires a webhook when any sensor reports low battery"
  trigger:
    - platform: numeric_state
      entity_id:
        - sensor.temperature_sensor
        - sensor.garage_door_battery_level # garage tilt sensor (zwave)
        - sensor.bedroom_battery # ecobee
        - sensor.upstairs_battery # ecobee
        - sensor.kids_room_battery # ecobee
        - sensor.ble_proxy_meater_battery_level # actual MEATER
        - sensor.front_door_battery_level # front door lock
      below: 20
    - platform: numeric_state
      entity_id:
        - sensor.front_door_battery_level # front door lock
      below: 70 # door gets weird after 70%
    - platform: template
      value_template: >
        {{ 10 < state_attr('sensor.dog_food_battery', 'battery') | float(0) < 30 }}
    #- platform: state
    #  entity_id: []
    #  #  - binary_sensor.keypad_battery
    #  to: "on"
  action:
    - service: rest_command.fire_webhook
      data_template:
        message: "home-assistant: device {{ trigger.to_state.name }} battery is low"
- id: puck_js_garage_door
  alias: "Trigger Garage Door on Puck Button Press"
  trigger:
    - entity_id:
        - event.sensor_7c55_button
      to: null
      trigger: state
  condition: []
  action:
    - action: script.garage_door
      data: {}
  mode: single
