homeassistant:
  name: Home
  latitude: 36.05176059430268
  longitude: -86.96233545971482
  elevation: 0
  time_zone: America/Chicago
  customize: !include customize.yaml
  allowlist_external_dirs:
    - /config
minio:
  host: 192.168.3.2
  port: 9000
  secure: false
  access_key: !secret minio_access_key
  secret_key: !secret minio_secret_key

zeroconf:

logger:
  default: error

default_config:

http:
  ip_ban_enabled: false
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.244.0.0/16
    - 100.0.0.0/8
    - 192.168.0.0/16

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml


google_assistant:
  project_id: something-99631
  service_account: !include SERVICE_ACCOUNT.json
  report_state: true
  exposed_domains: []
  entity_config: {}

recorder:
  purge_keep_days: 30
  db_url: !secret psql_connector_string
  db_retry_wait: 10 # Wait 10 seconds before retrying
  exclude:
    domains:
      - automation
      - updater
    entity_globs:
      - sensor.weather_*
    entities:
      - sun.sun # Don't record sun data
      - sensor.last_boot # Comes from 'systemmonitor' sensor platform
      - sensor.date
    event_types:
      - call_service # Don't record service calls
