homeassistant:
  name: Home
  latitude: 36.066
  longitude: -86.9659
  elevation: 0
  unit_system: imperial
  time_zone: America/Chicago
  customize: !include customize.yaml
  allowlist_external_dirs:
    - /config
minio:
  host: 192.168.3.2
  port: 9000
  secure: false
  access_key: !secret minio_access_key
  secret_key: !secret minio_secret_key

logger:
  default: error

default_config:

http:
  ip_ban_enabled: false
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.244.0.0/16
    - 100.0.0.0/8
    - 192.168.1.0/24

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml


datadog:
  host: 192.168.3.2
  port: 8126


google_assistant:
  project_id: something-99631
  service_account: !include SERVICE_ACCOUNT.json
  report_state: true
  exposed_domains: []
  entity_config: {}

switch:
  platform: template
  switches:
    front_door:
      unique_id: front_door
      turn_on:
        service: lock.lock
        data: {}
        target:
          entity_id: lock.front_door
      turn_off:
        service: lock.unlock
        data: {}
        target:
          entity_id: lock.front_door
    toggle_front_door:
      unique_id: toggle_front_door
      turn_on:
        service: script.front_door
      turn_off:
        service: script.front_door
    activate_garage:
      unique_id: garage
      turn_on:
        service: script.garage_door
      turn_off:
        service: script.garage_door
    automation_liams_room:
      unique_id: liams_room
      turn_on:
        service: automation.trigger
        entity_id: automation.liam_turn_things_on
      turn_off:
        service: automation.trigger
        entity_id: automation.liam_turn_things_off

recorder:
  purge_keep_days: 30
  db_url: !secret psql_connector_string
  db_retry_wait: 10 # Wait 10 seconds before retrying
  exclude:
    domains:
      - automation
      - updater
    entity_globs:
      - sensor.weather_*
    entities:
      - sun.sun # Don't record sun data
      - sensor.last_boot # Comes from 'systemmonitor' sensor platform
      - sensor.date
    event_types:
      - call_service # Don't record service calls

shell_command:
  remove_backup: "/config/scripts/remove_backup.sh {{ path }}"


rest_command:
  fire_webhook:
    url: !secret slack_webhook_url
    method: "POST"
    headers:
      Content-Type: "application/json"
    payload: '{"message": "{{ message }}"}'
